html {
    background: #222;

    font-family: 'Open Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
}
body {
    position: absolute;
    right: 0;
    left: 0;

    overflow-x: hidden;

    max-width: 60em;
    min-height: calc(100% - 50px);
    margin: 0 auto;

    color: white;
}
footer {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -50px;
    left: 0;

    padding: 5px;

    -webkit-animation: fadeIn 1s ease-out forwards;
    text-align: center;

    color: #444;
    text-shadow: .5px .5px #999, -.5px -.5px black;

    font-family: 'Roboto', sans-serif;
}
header,
nav {
    position: relative;
    left: calc(-50vw + 50%);

    display: flex;

    width: 100vw;

    -webkit-animation: slideTop 1s ease-out forwards;

    background: #03a9f4;
}
header span {
    width: 100%;

    text-align: center;
}
header.title {
    white-space: nowrap;

    font-family: 'Lobster Two', cursive;
    font-size: 800%;
    padding-bottom: 2%;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.dummynav,
nav {
    height: 80px;
}
nav {
    overflow-x: auto;

    margin-top: -80px;

    -webkit-transition: background .5s;
}
nav > .container {
    display: flex;

    margin: 0 auto;

    white-space: nowrap;
}
nav.scroll {
    position: fixed;
    z-index: 2;
    top: 0;

    margin: 0 auto;

    background: rgba(3, 169, 244, .8);
}
.login {
    display: flex;
    flex-direction: column;

    margin: 3px;
    padding: 3px;

    border: 3px solid white;

    font-family: 'Roboto', sans-serif;
    font-size: 90%;
}
.login > .first.container {
    display: flex;

    min-width: 100px;

    justify-content: space-between;
}
.login > .second.container {
    display: flex;
    flex-direction: column;

    height: 100%;

    text-align: center;

    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    flex-grow: 1;
}
.login > .second.container > * {
    flex: 1 1 auto;
}
.button {
    margin: 3px;

    color: inherit;
    border: white solid;
    background: transparent;

    font-size: 120%;
}
.button:hover {
    border-radius: 43%;
}
.button:focus {
    -webkit-animation: buttonBounce .5s ease forwards;
}
a {
    text-decoration: none;

    color: inherit;

    font-family: 'Roboto', sans-serif;
}
.link {
    border-style: none;
    border-radius: 100%;
    background: rgba(0, 0, 0, .1);
}
.link:active,
.arrow:active {
    -webkit-transform: scale(.8, .8);
}
.embedbutton {
    margin: 5px;
    padding: 10px;

    -webkit-transition: 0s 9999s;
    -webkit-animation: fadeIn 1s ease-out forwards;
    text-align: center;

    color: inherit;
    border: none;
    border-radius: 3px;
    background: transparent;
    box-shadow: 0 0 5px 0px black, inset 0 0 8px 4px rgba(255, 255, 255, .03);

    font-size: 110%;
}
.embedbutton.current,
.embedbutton:focus {
    background: rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 0 black, inset 0 0 9px 4px black;
}
.embedbutton span {
    display: inline-block;

    -webkit-transition: 0s 9999s;
}
.embedbutton.current span,
.embedbutton:focus span {
    -webkit-transform: scale(.85);
}
.content {
    overflow: hidden;

    margin: 10px;
    padding: 8px;

    border-radius: 10px;
    background: #6e6e6e;
    box-shadow: 0 0 15px 0 #000;
}
.content:nth-child(even),
.card:nth-child(odd) {
    -webkit-animation: slideRight 1s ease-out forwards;
}
.content:nth-child(odd),
.card:nth-child(even) {
    -webkit-animation: slideLeft 1s ease-out forwards;
}
.content .title,
.content .subtitle {
    padding: 6px;

    background: rgba(0, 0, 0, .1);

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.content .title {
    margin: -8px -8px 0 -8px;

    font-size: 35pt;
}
.content .subtitle {
    margin: 7px -8px;

    font-size: 25pt;
}
input[type='text'],
input[type='password'],
input[type='email'] {
    margin: 1px;
    padding-right: 5px;
    padding-left: 5px;

    border: none;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2) inset;
}
input:invalid,
input:out-of-range {
    box-shadow: 0 0 35px rgba(255, 0, 0, .5) inset;
}
input:focus {
    box-shadow: none;
}
input.tiny {
    box-shadow: none;
}
.small {
    overflow: hidden;

    height: 0;
    padding: 0 5px background: rgba(0, 0, 0, 0.1);

    font-size: 80%;

    flex: 0 1 100%;
}
.row {
    position: relative;

    display: flex;

    margin: 7px 4px;

    border: 2px solid white;
    background: #00bcd4;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
}
.row > *:not(.small) {
    margin: 5px;
}
.row:hover > .small,
.row > input:focus + .small {
    height: 2em;
    padding: 5px 5px;
}
.message {
    margin: 20px auto;
    padding: 8px;

    border: 2px solid #222;
    border-radius: 6px;
}
.message.error {
    background-color: #dd3c3c;
}
.message.info {
    background-color: #3ec433;
}
.card {
    position: relative;

    display: inline-block;

    width: calc(20% - 20px);
    margin: 8px;

    -webkit-perspective: 750px;
}
.front,
.back,
.onesided {
    border: 5px solid white;
    border-radius: 15px;
    background: #6e6e6e;
    box-shadow: 0 0 15px 0 #000;

    -webkit-backface-visibility: hidden;
}
.front {
    position: relative;

    margin-bottom: calc(-150% + 5px);

    -webkit-transform: rotateY(0deg);
}
.back {
    z-index: -1;

    -webkit-transform: rotateY(180deg);
}
.dummycard {
    padding-top: 150%;
}
.internal {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;

    display: flex;
    flex-direction: column;

    -webkit-transition: font-size .2s;
    word-wrap: break-word;
    pointer-events: none;

    color: white;

    font-size: large;
    font-weight: normal;

    justify-content: space-between;
    align-items: stretch;
}
.internal::input-placeholder {
    color: white;
}
.onesided > .internal {
    pointer-events: initial;
}
.cardpanel {
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: space-between;
    align-items: flex-end;
}
.editpanel {
    pointer-events: all;
}
.editpanel[placeholder]:empty:before {
    content: attr(placeholder);
}
.arrow {
    display: block;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    border-style: solid;
    background-clip: padding;
}
.pressed {
    -webkit-transform: scale(1.3, 1);
    pointer-events: none;
}
.votepanel {
    text-align: center;
    pointer-events: all;
}
.up {
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent white transparent;
}
.down {
    border-width: 17.3px 10px 0 10px;
    border-color: white transparent transparent transparent;
}
.cardwrapper {
    position: relative;

    -webkit-transform-style: preserve-3d;
}
.card:focus .cardwrapper {
    -webkit-transform: rotateY(180deg);
}
.author {
    font-size: 85%;
    font-style: italic;
}
.blue {
    background: #3f51b5;
}
.cyan {
    background: #00bcd4;
}
.red {
    background: #dd191d;
}
.green {
    background: #259b24;
}
.orange {
    background: #ff9800;
}
.pink {
    background: #e91e63;
}
.purple {
    background: #673ab7;
}
.banner {
    text-align: center;
    white-space: nowrap;

    border: none;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-weight: 100;
}
.banner.blue {
    background: -webkit-linear-gradient(#9c27b0, #3f51b5);
}
.banner.red {
    background: -webkit-linear-gradient(#ffc107, #b0120a);
}
.banner.green {
    background: -webkit-linear-gradient(#ffeb3b, #0a7e07);
}
.notice {
    display: block;

    margin-top: calc(30vh - .6em);

    text-align: center;

    color: #777;
    text-shadow: 1px 1px #999, -1px -1px black;

    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}
.notice .title {
    font-size: 40pt;
}
@media all and (max-width: 860px) {
    .fontscaling {
        font-size: 11vw !important;
    }
}
@media all and (max-width: 750px) {
    .card {
        width: calc(25% - 20px);
    }
}
@media all and (max-width: 650px) {
    .card {
        width: calc(33.33333333333333333% - 20px);
    }
}
@media all and (max-width: 550px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media all and (pointer: none),
and (pointer: fine) {
    .cardwrapper:hover {
        -webkit-transform: translateZ(30px) rotateY(20deg);
    }
    .cardwrapper:hover .front {
        z-index: 1;

        box-shadow: 10px 10px 50px #000;
    }
}
@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(10px);
    }
}
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(-100vw);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(100vw);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes slideTop {
    0% {
        -webkit-transform: translateY(-100vh);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes buttonBounce {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(.8);
    }
    50% {
        -webkit-transform: scale(1);
    }
    75% {
        -webkit-transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
* {
    box-sizing: border-box;
}
*::selection {
    background: rgba(2, 2, 2, .3);
}
*:focus {
    outline: none;
}
.rainbow {
    -webkit-animation: animatedBackground 3s linear infinite;

    background: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(.15, #f2f), color-stop(.3, #22f), color-stop(.45, #2ff), color-stop(.6, #2f2), color-stop(.75, #2f2), color-stop(.9, #ff2), color-stop(1, #f22));
    background-size: 20%;
}
.blur {
    -webkit-animation: blur 50s ease-in-out forwards;
}
.invis {
    display: none;
}
.i {
    font-style: italic;
}
.link,
.title > span,
.button,
.content,
.card,
.front,
.back,
.onesided,
.arrow,
.cardwrapper,
.embedbutton span,
.embedbutton,
.content input[type='text'],
.content input[type='password'],
.content input[type='email'],
.small {
    -webkit-transition: .5s;
}
