<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="white">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "the.css" %}" />
    <script src="{% static "jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "vote.js" %}"></script>
    <title>{{ title|default:"Teapots" }}</title>
    <link rel="icon" href="{% static "teapot.png" %}">
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans:400,300|Roboto:500' rel='stylesheet' type='text/css'>
</head>
<body>
    {% block body %}
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>
