<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title|default:"teapots" }}</title>
    {% load socketio_tags %}
    {% load staticfiles %}
    {% block scripts %}
        <link rel="stylesheet" href="{% static "the.css" %}" />
        <script src="{% static "jquery-1.11.1.min.js" %}"></script>
        {% socketio %}
        <script>
            var socket = new io.Socket();
            socket.connect();
        </script>
    {% endblock %}
</head>
<body>
    {% if nav %}
        {% include "nav.html" %}
    {% endif %}
    {% block content %}
        { lorum 10 random }
    {% endblock %}
</body>
</html>
