<!DOCTYPE html>
<html lang="en">
<head>
    {% load socketio_tags %}
    {% socketio %}
    <script>
        var socket = new io.Socket();
        socket.connect('localhost');
    </script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "the.css" %}" />
    <script src="{% static "jquery-1.11.1.min.js" %}"></script>
    <title>{{ title|default:"teapots" }}</title>
</head>
<body>
    {% block nav %}
        {% include "nav.html" %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>
