{% extends 'fullbase.html' %}

{% block content %}
<div class="content">
    {% if form.errors %}
        <p>password was lie</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}?next={{ next|default:"/" }}">
        {% csrf_token %}
        <div class="title">Login</div>
        <div>
            <input placeholder="Username" type="text" name="username">
            <input placeholder="Password" type="password" name="password">
        </div>
        <input type="submit" class="button">
    </form>
</div>
{% endblock %}
