
<div class="dummynav"></div>
<nav>
    <button class="button" tabindex="0" onclick="window.location = '/'">Home</button>
    <button class="button" tabindex="0" onclick="window.location = '/question'">Questions</button>
    <button class="button" tabindex="0" onclick="window.location = '/cards/create'">Ask</button>
    <button class="button" tabindex="0" onclick="window.location = '/about'">About</button>
    {% if user.is_authenticated %}
        <div class="logout">
            <div>
                {{ user.username }}
            </div>
            <div>
                <a class="link hey" href="/account">Account</a>
                <a class="link hey" href="/logout">Logout</a>
            </div>
        </div>
    {% else %}
        <form method="POST" action="." class="login">
            <div>
                <span>Login</span>
                <a class="link" href="/account/create">SignUp</a>
            </div>
            {% csrf_token %}
            <input type="submit" class="invis">
            <div>
                <input class="tiny" placeholder="Username" type="text" name="username">
                <input class="tiny" placeholder="Password" type="password" name="password">
            </div>
        </form>
    {% endif %}
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() >= $('header.title').height()) {
                $('nav').addClass("scroll");
            } else {
                $('nav').removeClass("scroll");
            }
        });
    </script>
</nav>
